#Ignorare cartella in cui istanziare la blockchain locale
CustomDataDir/

#Ignorare cartella in cui sono stati installati i pacchetti
#aggiuntivi di node.js
src/node_modules/

#Ignore compiled contracts directory
src/contracts/compiled_contracts/